<header class="header">
    <div>
        <img src="https://gf2-us-cdn.sunborngame.com/prod/website/official_zf/mobile/image/home-all-logo_83d3c242d2.png" alt="">
    </div>
    <nav>
        <ul>
            <li>
                <a href="inicio">Inicio</a>
                <a href="productp">Productos</a>
                <a href="contaco">Contacto</a>
                <a href="login">Iniciar Sesion</a>
            </li>
        </ul>
    </nav>
</header>