<div class="t-panel">
    <div class="t-info">
        <img src="{{imgurl}}" alt="{{imgdsc}}" />
        <div>
            <h2>{{title}}</h2>
            <p>{{message}}</p>
            <button>Mas informacion</button>
        </div>
    </div>
</div>